/*!
 * Landing page by Hackerloop
 */


/*
Typo
*/

html,body {
  height: 100%;
  min-height: 100%;
}

body {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;

}

h1 {
  font-weight: bold;
}

h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 300;
}

p {
  padding: 12px 0;
}

/*
Left column
*/

.logo {
  border: 3px double white;
  color: #da552f;
  display: inline-block;
  font-family: Montserrat,sans-serif;
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 48px;
  padding: 14px 38px;
  text-align: center;
  text-transform: capitalize;
}

.main-container {
  display: table;
  text-align: center;
  color: #fff;
  height: 100%;
  background: url('../images/hero.jpg') no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.container-fluid {
  display: table-cell;
  vertical-align: middle;
}

.headline {
  line-height: 1.5;
  margin: 30px 0;
}

/*
Mailchimp form
*/

#mc-form {
  margin-bottom: 40px;
  padding-top: 20px;
}

.small {
  font-size: 13px;
}

.error {
  font-weight: 400;
  font-size: 16px;
  color: #e74c3c;
}

.valid {
  font-weight: 400;
  font-size: 16px;
  color: #5cb85c;
}

.mc-label {
  font-size: 13px;
  font-weight: 400;
  padding-top: 6px;
}

.twitter-icon {
  width: 60px;
}

.form-inline .form-control {
  display: inline-block;
  height: auto;
  padding: 15px;
  vertical-align: middle;
  width: 60%;
}

.btn-success {
  background-color: #DA552E;
  border-color: #DA552E;
  color: #fff;
  padding: 15px 30px;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
  background-color: #EF592F;
  border-color: #EF592F;
}
